// Header of form:
form {
  width: 450px;
  padding: 2.625rem 2.625rem 2.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 1px solid #eaeced;
  border-radius: 5px;
}
.form__input {
  width: 100%;
  height: 44px;
  padding: 0 0.625rem;
  outline: 0;
  background: white;
  border: 1px solid #9da3a6;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  transition: all 0.5s ease;
  font-size: 1rem;

  &::placeholder {
    font-size: 0.875rem;
  }

  &:focus {
    border: 1px solid #0070ba;
    box-shadow: 0px 0px 10px -6px #0070ba;
  }
}
.form__button {
  cursor: pointer;

  width: 100%;
  min-height: 44px;
  display: block;
  background-color: #0070ba;

  border-radius: 0.25rem;
  border: 0;
  outline: 0;
  box-shadow: none;

  color: white;
  font-weight: bold;
  font-size: 1rem;

  transition: all 0.5s ease;

  &:hover {
    background-color: #005288;
  }
  &.gray {
    background-color: #d2dbe1;
    color: black;
    &:hover {
      background-color: #b2b9be;
    }
  }
}

.form__line {
  width: 2rem;
  color: #888;
  font-size: 0.9rem;
  font-weight: normal;
  margin: 1rem 0;
  position: relative;
  text-align: center;
  margin: 1.5625rem 0 0.625rem;

  &::before {
    content: "";
    width: 10rem;
    height: 0.01rem;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
  }
  &::after {
    content: "";
    width: 10rem;
    height: 0.01rem;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
  }
}
// Footer of form:
.form__languages {
  width: 100%;
  margin-top: 2.625rem;
  display: flex;
  align-items: center;
  white-space: nowrap;

  .current {
    font-weight: bold;
  }

  li {
    padding: 0px 0.375rem;
    &:not(:last-child) {
      border-right: 1px solid #ccc;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
// Footer of viewport height
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  background: #f7f9fa;
  padding: 0.875rem;
  text-align: center;
  font-size: 0.6875rem;
  color: #666666;
}
// Mobile Breakpoint (was made desktop-first 🤐
@media only screen and (max-width: 768px) {
  form {
    border: none;
  }
}
